<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HODLINFO_CLONE</title>
        <link rel="stylesheet" href="style.css">
        <script src="script.js"></script>
    </head>
    <body>
        <nav>
            <div class="navbar">
                <h1 id="logo"><a href="/">HODLINFO_CLONE<span>.com</span></a></h1>
                <div class="btn">
                    <button type="button" class="btn-currency">INR</button>
                    <button type="button" class="btn-currency">BTC</button>
                </div>
                <button type="button"  class="btn-updateDatabaseData">Update DataBase Data</button>
            </div>
        </nav>
        <section>
            <div class="container">
                <div id='loader'></div>
                <div style="overflow-x:auto;">
                <table id="crypto"></table>
                </div>
            </div>
        </section>
    </body>
</html>